@font-face {
    font-family: nunito;
    src: url(Nunito-Regular.ttf);
}
@font-face {
    font-family: nunito-bold;
    src: url(Nunito-Bold.ttf);
}


body{
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: url(Background.jpg);
    background-position: center;
    background-size: cover;

    font-family: nunito;
    color: white;
}

.container {
    width: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 50px;
    border-radius: 10px;
}

.container * {
    margin-bottom: 20px;
}

.anime {
    width: 100%;
}
#logo {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family:nunito-bold;
    color: #fff;
    background:#cc245c;
    width: 280px;
    padding:10px 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.301) 0px 2px 3px;
    transition: 0.2s;
}


a:hover {
    background:#a3244f;
}



p {
    font-size: 1.2em;
}


@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
  }